@layer base {
  /* html[data-theme="light"] */
  :root[data-theme="light"]{
    --bg: #ffffff;
    --sidebar-bg: #fbfcfd;
    --chat-bg: #ededed;
    --bubble-user: #35a8e0;
    --bubble-bot: #ffffff;
    --text-primary: #000000;
    --text-secondary: #667781;
    --border: #CFD8DC;
    --hover: rgba(0,0,0,.04);
    --active: rgba(0,0,0,.08);
    --avatar-border: #667781;
    --avatar-0: #e57373;
    --avatar-1: #f06292;
    --avatar-2: #ba68c8;
    --avatar-3: #64b5f6;
    --avatar-4: #4db6ac;
    --avatar-5: #81c784;
    --avatar-6: #ffd54f;
    --avatar-7: #ffb74d;
    --avatar-8: #a1887f;
    --avatar-9: #90a4ae;
    --skeleton-bg: rgba(0,0,0,.02);   /* идеально прозрачный фон */
    --skeleton-radius: 8px;
    --bubble-admin: #2596be; /* голубой для исходящих */
  }

  /* html[data-theme="dark"] */
  :root[data-theme="dark"]{
    --bg: #0B141A;
    --sidebar-bg: #111B21;
    --chat-bg: #0B141A;
    --bubble-user: #2296f3;
    --bubble-bot: #202C33;
    --text-primary: #E9EDEF;
    --text-secondary: #8696A0;
    --border: #2A3942;
    --hover: rgba(255,255,255,.04);
    --active: rgba(255,255,255,.08);
    --avatar-border: #2A3942;
    --avatar-0: #b71c1c;
    --avatar-1: #880e4f;
    --avatar-2: #4a148c;
    --avatar-3: #01579b;
    --avatar-4: #00695c;
    --avatar-5: #1b5e20;
    --avatar-6: #f57f17;
    --avatar-7: #e65100;
    --avatar-8: #3e2723;
    --avatar-9: #263238;
    --bubble-admin: #1a3a4d; /* тёмно-голубой для исходящих */
  }
} 